<!DOCTYPE html>
{% extends "bootstrap/base.html" %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.min.js') }}">\x3C/script>')</script>
{% endblock %}

{% block title %}Budget {{ budget.id }}{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href={{ url_for('main.showBudgets') }}>Budgetizer</a>
      </div>

    <ul class="nav navbar-nav">
      <li><a href={{ url_for('main.showBudgets') }}>Budgets</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">

      <h1 class="budget-title">{{budget.title}}</h1>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Budget Information</h3>
        </div>

        <div class="panel-body">
          <p>The following information is a listing of attributes related to this budget:</p>
        </div>

        <ul class="list-group">
          <li class="list-group-item budget-id">ID: {{budget.id}}</li>
          <li class="list-group-item budget-amount">Amount: {{budget.amount}}</li>
        </ul>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>

        <div class="panel-body">
          <p>The following information is a listing of categories related to this budget:</p>
        </div>

        {% for category in budget.categories %}
          <h3>Category:</h3>
          <ul class="list-group">
              <li class="list-group-item">Title: {{category.title}}</li>
              <li class="list-group-item">Amount: {{category.amount}}</li>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Transactions</h3>
                </div>

                <div class="panel-body">
                  <p>The following information is a listing of transactions related to this category:</p>
                </div>

                {% for category_transaction in category.transactions %}
                  <h3>Transaction:</h3>
                  <ul class="list-group">
                    <li class="list-group-item">To: {{category_transaction.transaction.to}}</li>
                    <li class="list-group-item">Inflow: {{category_transaction.inflow}}</li>
                    <li class="list-group-item">Outflow: {{category_transaction.outflow}}</li>
                    <li class="list-group-item">Notes: {{category_transaction.transaction.notes}}</li>
                    <li class="list-group-item">Created At: {{category_transaction.transaction.createdAt}}</li>
                  </ul>
                {% endfor %}
              </div>
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
